
<section class="tweet"> 
<img src="images/guardiantech.jpeg" width="48px" height="48px" style="border-radius: 4px; margin-left: -60px; display: inline; float:left;">
<p class="tweet_header_text"><span>Guardian Tech</span> <span id="tweet_time_user">‏@guardiantech · 2 minutes ago</span></p>
<p>No dislike button for Facebook, declares Zuckerberg http://bit.ly/13gXWdc</p>

<section class="tweet_nav">
<ul>
<li>
<a href="#" id="tip2"><i class="fa fa-reply" style="font-size: 17px;"></i><span>Reply</span></a>
</li>
<li>
<a href="#" id="tip3"><i class="fa fa-retweet" style="font-size: 20px;"></i><span>Retweet</span></a>
</li>
<li>
<a href="#" id="tip4"><element class="glyphicon glyphicon-star" style="font-size: 17px;"></element><span>Favourite</span></a>
</li>
<li>
<a href="#" id="tip5"><p style="font-family:Rosetta; font-size: 20px;">

</p><span>More</span></a>
</li>
</ul>
</section>
</section>



<section class="tweet"> 
<img src="images/gizmodo.jpeg" width="48px" height="48px" style="border-radius: 4px; margin-left: -60px; display: inline; float:left;">
<p class="tweet_header_text"><span>Gizmodo</span> <span id="tweet_time_user">‏@Gizmodo · 30 minutes ago</span></p>
<p>Inside the vast tunnels of Europe's biggest infrastructure project http://gizmo.do/QSBSKp1  
<p><img src="images/tweet_image_tunnel.jpg" class="embedded_tweet_image"></p>

<section class="tweet_nav">
<ul>
<li>
<a href="#" id="tip2"><i class="fa fa-reply" style="font-size: 17px;"></i><span>Reply</span></a>
</li>
<li>
<a href="#" id="tip3"><i class="fa fa-retweet" style="font-size: 20px;"></i><span>Retweet</span></a>
</li>
<li>
<a href="#" id="tip4"><element class="glyphicon glyphicon-star" style="font-size: 17px;"></element><span>Favourite</span></a>
</li>
<li>
<a href="#" id="tip5"><p style="font-family:Rosetta; font-size: 20px;">

</p><span>More</span></a>
</li>
</ul>
</section>
</section>


<section class="tweet"> 
<img src="images/dirtyleeds.jpeg" width="48px" height="48px" style="border-radius: 4px; margin-left: -60px; display: inline; float:left;">
<p class="tweet_header_text"><span>DIRTY LEEDS</span> <span id="tweet_time_user">‏@lufcfan · 35 minutes ago</span></p>
<p>@Basher2010 @WACCOE Ah, the memories. This is classic Brolin footage. <img src="https://abs.twimg.com/emoji/v1/72x72/1f602.png" width="16x" height="14px"><img src="https://abs.twimg.com/emoji/v1/72x72/1f602.png" width="16x" height="14px"><img src="https://abs.twimg.com/emoji/v1/72x72/1f602.png" width="16x" height="14px"><img src="https://abs.twimg.com/emoji/v1/72x72/1f602.png" width="16x" height="14px"><img src="https://abs.twimg.com/emoji/v1/72x72/1f602.png" width="16x" height="14px"> http://youtu.be/YqjZkr5SaKY 

<section class="tweet_nav">
<ul>
<li>
<a href="#" id="tip2"><i class="fa fa-reply" style="font-size: 17px;"></i><span>Reply</span></a>
</li>
<li>
<a href="#" id="tip3"><i class="fa fa-retweet" style="font-size: 20px;"></i><span>Retweet</span></a>
</li>
<li>
<a href="#" id="tip4"><element class="glyphicon glyphicon-star" style="font-size: 17px;"></element><span>Favourite</span></a>
</li>
<li>
<a href="#" id="tip5"><p style="font-family:Rosetta; font-size: 20px;">

</p><span>More</span></a>
</li>
</ul>
</section>
</section>



<section class="tweet"> 
<img src="images/google.png" width="48px" height="48px" style="border-radius: 4px; margin-left: -60px; display: inline; float:left;">
<p class="tweet_header_text"><span>Google</span> <span id="tweet_time_user">‏@Google · 40 minutes ago</span></p>
<p>Head to Santa’s Village and make sure his beard is selfie ready for the holidays #SantaTracker http://goo.gl/vRw1w5  
<p><img src="images/googlemaincontent.png" class="embedded_tweet_image"></p>

<section class="tweet_nav">
<ul>
<li>
<a href="#" id="tip2"><i class="fa fa-reply" style="font-size: 17px;"></i><span>Reply</span></a>
</li>
<li>
<a href="#" id="tip3"><i class="fa fa-retweet" style="font-size: 20px;"></i><span>Retweet</span></a>
</li>
<li>
<a href="#" id="tip4"><element class="glyphicon glyphicon-star" style="font-size: 17px;"></element><span>Favourite</span></a>
</li>
<li>
<a href="#" id="tip5"><p style="font-family:Rosetta; font-size: 20px;">

</p><span>More</span></a>
</li>
</ul>
</section>
</section>




<section class="tweet"> 
<img src="images/socceram.png" width="48px" height="48px" style="border-radius: 4px; margin-left: -60px; display: inline; float:left;">
<p class="tweet_header_text"><span>SOCCER AM</span> <span id="tweet_time_user">‏@socceram · 39 minutes ago</span></p>
<p>#manofthematch @danshittu on @SoccerAM tomo 10am @SkySports 1 + @sky1 + @RachelRileyRR + @StGeorgeGroves + @OneRovers Fan

<section class="tweet_nav">
<ul>
<li>
<a href="#" id="tip2"><i class="fa fa-reply" style="font-size: 17px;"></i><span>Reply</span></a>
</li>
<li>
<a href="#" id="tip3"><i class="fa fa-retweet" style="font-size: 20px;"></i><span>Retweet</span></a>
</li>
<li>
<a href="#" id="tip4"><element class="glyphicon glyphicon-star" style="font-size: 17px;"></element><span>Favourite</span></a>
</li>
<li>
<a href="#" id="tip5"><p style="font-family:Rosetta; font-size: 20px;">

</p><span>More</span></a>
</li>
</ul>
</section>
</section>




<section class="tweet"> 
<img src="images/lufclogo.jpg" width="48px" height="48px" style="border-radius: 4px; margin-left: -60px; display: inline; float:left;">
<p class="tweet_header_text"><span>LUFCDATA</span> <span id="tweet_time_user">‏@LUFCDATA · 45 minutes ago</span></p>
<p>Blast from the past: Eddie and Frank Gray during the 1981-82 season. #LUFC 
<p><img src="images/oldlufc.png" class="embedded_tweet_image"></p>

<section class="tweet_nav">
<ul>
<li>
<a href="#" id="tip2"><i class="fa fa-reply" style="font-size: 17px;"></i><span>Reply</span></a>
</li>
<li>
<a href="#" id="tip3"><i class="fa fa-retweet" style="font-size: 20px;"></i><span>Retweet</span></a>
</li>
<li>
<a href="#" id="tip4"><element class="glyphicon glyphicon-star" style="font-size: 17px;"></element><span>Favourite</span></a>
</li>
<li>
<a href="#" id="tip5"><p style="font-family:Rosetta; font-size: 20px;">

</p><span>More</span></a>
</li>
</ul>
</section>
</section>

<a href="dummycontent.html"></a>