<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Twitter</title>

<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/bootstrap.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body style="background-color: #F0F0F0">



<!-- NavBarText -->
<section class="nav_bleed">

<section class="nav_align">

<nav>
<ul class="nav">

<li>
<left class="home_button">
<span class="circle_highlight">.</span>
<span style="font-family:Rosetta" class="nav_icon"></span>
<span class="nav_text">Home </span>
</left>
</li>

<li> 
<left class="nav_button">
<span style="font-family:Rosetta" class="nav_icon"></span>
<span class="nav_text">Notifications </span>
</left>
</li>

<li> 
<left class="nav_button">
<span style="font-family:Rosetta" class="nav_icon"></span>
<span class="nav_text">Messages </span>
</left>
</li>

<li> 
<left class="nav_button">
<span style="font-family:Rosetta" class="nav_icon"></span>
<span class="nav_text">Discover </span>
</left>
</li>

<li class="logo"> 
<p style="font-family:Rosetta" class="logo_nav_icon"></p> 
</li>

<li> 
<form>
<input class="nav_search_input" type="text" placeholder="Search Twitter">

<button id="search">
<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
</button>

</form>
</li>

<li> 
<img src="images/userprofileleft.jpeg" width="32px" height="32px" style="border-radius: 4px; margin-left:13px">
</li>

<li> 
<button class="tweet_button">
<span style="font-family:Rosetta" class="tweet_icon"></span>
<span class="tweet_nav_text">Tweet</span>
</button>
</li>

</ul>
</nav>
</section>
</section>
<!-- Document -->


<section class="core_content">


<!-- Left-Hand Elements -->

<!-- ProfileBoxText -->
<aside class="left_column">
<aside class="profile_box">

<img src="images/userprofileleft.jpeg" class="profile_image">

<section class="user_id">
<span class="profile_user_name">Ben Hutchinson</span>
<br>
<span class="profile_handle">@radebelufc</span>
</section>

<section class="user_stats">
<ul>
<li>
<span class="profile_stat_header">TWEETS</span>
<p class="profile_stat_value">51</p>
</li>
<li>
<span class="profile_stat_header">FOLLOWING</span>
<p class="profile_stat_value">183</p>
</li>
<li class="right">
<span class="profile_stat_header">FOLLOWERS</span>
<p class="profile_stat_value">42</p>
</li>
</ul>
</section>

</aside>




<!-- TrendsSideBarText -->
<aside class="trends_box">
<p><span class="sidebar_header">Trends · </span><span class="sidebar_subheader">Change</span></p>

<ul>
<li>#EricGarner</li>
<li>#ICantBreathe</li>
<li>Christmas</li>
<li>#StereoKicksQnA</li>
<li>Santa</li>
<li>Ohio State</li>
<li>#InterUdinese</li>
<li>#MLSCup</li>
<li>Villarreal</li>
<li>Joey Galloway</li>
</ul>

</aside>

</aside>


<!-- Central Column -->

<section class ="central_column">

<section class ="central-header"> 
<form>
<textarea id="input" maxlength="140" class="central_tweet_form" placeholder="What's happening?"></textarea>
</form>
<img src="images/userprofileleft.jpeg" width="32px" height="32px" style="border-radius: 5px; margin-top: 2px; margin-right:13px; display: inline; float:right; ">

<section class="add_tweet_buttons">

<button class="add"><i class="fa fa-camera" style="font-size: 18px; margin-right: 4px; padding-top: 4px;"></i><span class="add_photo">Add photo</span></button>
<button class="add"><span class="glyphicon glyphicon-map-marker"  style="font-size: 15px; margin-right: 2px; padding-top: 2px; margin-top: 3px;"></span><span class="add_location">Add location</span></button>

</section>

</section>


<section class="tweet"> 
<img src="images/guardiantech.jpeg" width="48px" height="48px" style="border-radius: 4px; margin-left: -60px; display: inline; float:left;">
<p class="tweet_header_text"><span>Guardian Tech</span> <span id="tweet_time_user">‏@guardiantech · 2 minutes ago</span></p>
<p>No dislike button for Facebook, declares Zuckerberg http://bit.ly/13gXWdc</p>

<section class="tweet_nav">
<ul>
<li>
<a href="#" id="tip2"><i class="fa fa-reply" style="font-size: 17px;"></i><span>Reply</span></a>
</li>
<li>
<a href="#" id="tip3"><i class="fa fa-retweet" style="font-size: 20px;"></i><span>Retweet</span></a>
</li>
<li>
<a href="#" id="tip4"><element class="glyphicon glyphicon-star" style="font-size: 17px;"></element><span>Favourite</span></a>
</li>
<li>
<a href="#" id="tip5"><p style="font-family:Rosetta; font-size: 20px;">

</p><span>More</span></a>
</li>
</ul>
</section>
</section>



<section class="tweet"> 
<img src="images/gizmodo.jpeg" width="48px" height="48px" style="border-radius: 4px; margin-left: -60px; display: inline; float:left;">
<p class="tweet_header_text"><span>Gizmodo</span> <span id="tweet_time_user">‏@Gizmodo · 30 minutes ago</span></p>
<p>Inside the vast tunnels of Europe's biggest infrastructure project http://gizmo.do/QSBSKp1  
<p><img src="images/tweet_image_tunnel.jpg" class="embedded_tweet_image"></p>

<section class="tweet_nav">
<ul>
<li>
<a href="#" id="tip2"><i class="fa fa-reply" style="font-size: 17px;"></i><span>Reply</span></a>
</li>
<li>
<a href="#" id="tip3"><i class="fa fa-retweet" style="font-size: 20px;"></i><span>Retweet</span></a>
</li>
<li>
<a href="#" id="tip4"><element class="glyphicon glyphicon-star" style="font-size: 17px;"></element><span>Favourite</span></a>
</li>
<li>
<a href="#" id="tip5"><p style="font-family:Rosetta; font-size: 20px;">

</p><span>More</span></a>
</li>
</ul>
</section>
</section>


<section class="tweet"> 
<img src="images/dirtyleeds.jpeg" width="48px" height="48px" style="border-radius: 4px; margin-left: -60px; display: inline; float:left;">
<p class="tweet_header_text"><span>DIRTY LEEDS</span> <span id="tweet_time_user">‏@lufcfan · 35 minutes ago</span></p>
<p>@Basher2010 @WACCOE Ah, the memories. This is classic Brolin footage. <img src="https://abs.twimg.com/emoji/v1/72x72/1f602.png" width="16x" height="14px"><img src="https://abs.twimg.com/emoji/v1/72x72/1f602.png" width="16x" height="14px"><img src="https://abs.twimg.com/emoji/v1/72x72/1f602.png" width="16x" height="14px"><img src="https://abs.twimg.com/emoji/v1/72x72/1f602.png" width="16x" height="14px"><img src="https://abs.twimg.com/emoji/v1/72x72/1f602.png" width="16x" height="14px"> http://youtu.be/YqjZkr5SaKY 

<section class="tweet_nav">
<ul>
<li>
<a href="#" id="tip2"><i class="fa fa-reply" style="font-size: 17px;"></i><span>Reply</span></a>
</li>
<li>
<a href="#" id="tip3"><i class="fa fa-retweet" style="font-size: 20px;"></i><span>Retweet</span></a>
</li>
<li>
<a href="#" id="tip4"><element class="glyphicon glyphicon-star" style="font-size: 17px;"></element><span>Favourite</span></a>
</li>
<li>
<a href="#" id="tip5"><p style="font-family:Rosetta; font-size: 20px;">

</p><span>More</span></a>
</li>
</ul>
</section>
</section>



<section class="tweet"> 
<img src="images/google.png" width="48px" height="48px" style="border-radius: 4px; margin-left: -60px; display: inline; float:left;">
<p class="tweet_header_text"><span>Google</span> <span id="tweet_time_user">‏@Google · 40 minutes ago</span></p>
<p>Head to Santa’s Village and make sure his beard is selfie ready for the holidays #SantaTracker http://goo.gl/vRw1w5  
<p><img src="images/googlemaincontent.png" class="embedded_tweet_image"></p>

<section class="tweet_nav">
<ul>
<li>
<a href="#" id="tip2"><i class="fa fa-reply" style="font-size: 17px;"></i><span>Reply</span></a>
</li>
<li>
<a href="#" id="tip3"><i class="fa fa-retweet" style="font-size: 20px;"></i><span>Retweet</span></a>
</li>
<li>
<a href="#" id="tip4"><element class="glyphicon glyphicon-star" style="font-size: 17px;"></element><span>Favourite</span></a>
</li>
<li>
<a href="#" id="tip5"><p style="font-family:Rosetta; font-size: 20px;">

</p><span>More</span></a>
</li>
</ul>
</section>
</section>




<section class="tweet"> 
<img src="images/socceram.png" width="48px" height="48px" style="border-radius: 4px; margin-left: -60px; display: inline; float:left;">
<p class="tweet_header_text"><span>SOCCER AM</span> <span id="tweet_time_user">‏@socceram · 39 minutes ago</span></p>
<p>#manofthematch @danshittu on @SoccerAM tomo 10am @SkySports 1 + @sky1 + @RachelRileyRR + @StGeorgeGroves + @OneRovers Fan

<section class="tweet_nav">
<ul>
<li>
<a href="#" id="tip2"><i class="fa fa-reply" style="font-size: 17px;"></i><span>Reply</span></a>
</li>
<li>
<a href="#" id="tip3"><i class="fa fa-retweet" style="font-size: 20px;"></i><span>Retweet</span></a>
</li>
<li>
<a href="#" id="tip4"><element class="glyphicon glyphicon-star" style="font-size: 17px;"></element><span>Favourite</span></a>
</li>
<li>
<a href="#" id="tip5"><p style="font-family:Rosetta; font-size: 20px;">

</p><span>More</span></a>
</li>
</ul>
</section>
</section>




<section class="tweet"> 
<img src="images/lufclogo.jpg" width="48px" height="48px" style="border-radius: 4px; margin-left: -60px; display: inline; float:left;">
<p class="tweet_header_text"><span>LUFCDATA</span> <span id="tweet_time_user">‏@LUFCDATA · 45 minutes ago</span></p>
<p>Blast from the past: Eddie and Frank Gray during the 1981-82 season. #LUFC 
<p><img src="images/oldlufc.png" class="embedded_tweet_image"></p>

<section class="tweet_nav">
<ul>
<li>
<a href="#" id="tip2"><i class="fa fa-reply" style="font-size: 17px;"></i><span>Reply</span></a>
</li>
<li>
<a href="#" id="tip3"><i class="fa fa-retweet" style="font-size: 20px;"></i><span>Retweet</span></a>
</li>
<li>
<a href="#" id="tip4"><element class="glyphicon glyphicon-star" style="font-size: 17px;"></element><span>Favourite</span></a>
</li>
<li>
<a href="#" id="tip5"><p style="font-family:Rosetta; font-size: 20px;">

</p><span>More</span></a>
</li>
</ul>
</section>
</section>


<a href="dummycontent.html"></a>


</section>


<!-- Right-Hand Elements  -->
<!-- WhoToFollowSideBarText -->
<aside class="right_column">

<aside class="right_sidebar_box">
<section class="sidebar_titles">
<p><span class="sidebar_header">Who to follow · </span>
<span class="sidebar_subheader">Refresh</span>
<span class="sidebar_header"> · </span>
<span class="sidebar_subheader">View all</span>
</p>
</section>

<section class="follow_suggestions">

<suggestion> 
<img class="who_to_follow_image" src="images/skysports_profile.png" width="48px" height="48px">
<tweeter><span class="tweeter_name">The FA</span><span class="tweeter_handle"> @FA</span></tweeter>
<p class="followed_by">Followed by Makers</p>
<p class="follow_button">
<button class="follow">
<follow style="font-family:Rosetta; color: #55ACEE; font-size: 14px; vertical-align: middle;"></follow> <follow style="vertical-align: middle"> Follow</follow>
</button>
<cross></cross>
</p>
</suggestion>

<suggestion> 
<img class="who_to_follow_image" src="images/bbcnews.jpeg" width="48px" height="48px">
<tweeter><span class="tweeter_name">Sky Sports</span><span class="tweeter_handle"> @skysports</span></tweeter>
<p class="followed_by">Followed by Makers</p>
<p class="follow_button">
<button class="follow">
<follow style="font-family:Rosetta; color: #55ACEE; font-size: 14px; vertical-align: middle;"></follow> <follow style="vertical-align: middle"> Follow</follow>
</button>
<cross></cross>
</p>
</suggestion>

<suggestion> 
<img class="who_to_follow_image" src="images/guardian.png" width="48px" height="48px">
<tweeter><span class="tweeter_name">The Guardian</span><span class="tweeter_handle"> @guardian</span></tweeter>
<p class="followed_by">Followed by Makers</p>
<p class="follow_button">
<button class="follow">
<follow style="font-family:Rosetta; color: #55ACEE; font-size: 14px; vertical-align: middle;"></follow> <follow style="vertical-align: middle"> Follow</follow>
</button>
<cross></cross>
</p>
</suggestion>

</section>

<section class="gmail_advert">
<span id="gmail_image_container"><img id="gmail_image" src="images/gmail.png"></span>
Find people you know
<span class="gmail_sub_advert">Import your contacts from Gmail</span>
<hr>

<span id="gmail_connect">Connect other address books</span>
</section>

</aside>



<!-- DisclaimerElementText -->
<aside class="disclaimer_box">

<a href="#">© 2014 Twitter</a>
<a href="#">About</a>
<a href="#">Help</a>
<a href="#">Terms</a>
<a href="#">Privacy</a>
<a href="#">Cookies</a>
<a href="#">Ads info</a>
<a href="#">Analytics</a>
<a href="#">Brand</a>
<a href="#">Blog</a>
<a href="#">Status</a>
<a href="#">Apps</a>
<a href="#">Jobs</a>
<a href="#">Advertise</a>
<a href="#">Businesses</a>
<a href="#">Media</a>
<a href="#">Developers</a>
</aside>

</aside>

</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="js/jscroll.js"></script>

<script>

$(document).ready(function() {

	$('#input').click(function(evnt) {
		if($('.add_tweet_buttons').css("display") === "none") {
			evnt.stopPropagation();
			$(this).attr('placeholder','');
			$('.central_tweet_form').css("height", "90px");
			$('.central_tweet_form').css("border-color", "#999CAE");
			$('.central-header').css("height", "160px");
			$('.add_tweet_buttons').show();
		} else {
			evnt.stopPropagation();
		};
	});

	$(document).click(function(element) {
		$('#input').attr('placeholder',"What's happening?");
		$('.central_tweet_form').css("height", "40px");
		$('.central-header').css("height", "63px");
		$('.add_tweet_buttons').hide();
	});

	$('.central_column').jscroll({
	    loadingHtml: '<p align="center"><img src="images/spinner_192.gif" width="40" height="40" alt="Loading" /></p>',
	    padding: 20,
	    nextSelector: 'a:last'
	});

});

</script>


</body>
</html>